* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

header {
 background-image: url("./5-duplo-resize_jpg.jpg");
 background-color: coral;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 200px;
 position: relative;
 z-index: -1;
}

div {
 font-size: 24px;
 color: white;
 position: absolute;
}

.center {
 top: 50%;
 left: 50%;
 text-align: center;
 transform: translate(-50%, -50%);
 margin: 0;
}

.left-top {
 left: 0;
 top: 0;
}

.left-bottom {
 left: 0;
 bottom: 0;
}

.right-top {
 right: 0;
 top: 0;
}

.right-bottom {
 right: 0;
 bottom: 0;
}

.div2 {
 background-color: crimson;
 position: absolute;
 width: 100%;
 top: 20px;
 z-index: 1;
}

.div3 {
 margin-top: 150px;
}

.div3 p {
 width: 30%;
 position: relative;
}

.p3 {
 background-color: darkmagenta;
 position: relative;
 z-index: 1;
}

.p4 {
 background-color: darkolivegreen;
 position: absolute;
 left: 70px;
 top: -20px;
 z-index: -1;
}