table,
tr,
td,
th {
  border: 1px solid grey;
  background-color: rgb(224, 223, 223);
}

th {
  text-align: center;
}

td {
 padding-right: 50px;
}

.rotate span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  letter-spacing: 10px;
}
