* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table,
tr {
  border-bottom: 1px solid orange;
  border-collapse: collapse;
}

table {
  margin: 10px;
  border: none;
}

th,
td {
  border-right: 1px solid rgb(167, 166, 166);
  padding: 5px 30px;
}

th:last-child,
td:last-child {
  border: none;
}

table tr:nth-child(1) {
  background-color: orange;
  color: white;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 5px;
}

table tr:nth-child(10) {
  background-color: grey;
  color: white;
  border: none;
}

tr:nth-child(odd) {
  background-color: rgb(236, 234, 234);
}

tr:nth-child(even) {
  background-color: rgb(246, 216, 190);
}

tr td:nth-child(n + 2),
.left {
  padding-right: 5px;
  text-align: right;
}

tr td:nth-child(1) {
  padding-left: 5px;
  text-align: left;
}
