span{
 border: 1px solid black;
 width: 20px;
 display: inline-block;
 text-align: center;
 padding: 10px;
 margin-bottom: 5px;
}

table, td {
 border: 1px solid black;
 border-collapse: collapse;
}

.obojen {
 background-color: blueviolet;
}

.ljubicasti {
 color: purple;
}